<header id="lzy-header">
    <div class="lzy-container clearfix">
        <!--  头部待定  -->
        <div class="lzy-he-logo">
            <h1>
                <a href="#"><img src="../../static/img/mylogo.png" title="" about="" name=""></a>
            </h1>
        </div>
        <div class="lzy-che-nav" style="position:inherit;">
            <ul>
                <li><a href="/index" class="{{.data.currentIndex}}">首页</a></li>
                <li><a href="/服务中心" class="{{.data.currentSever}}">服务中心</a></li>
                <li><a href="/解决方案" class="{{.data.currentSolve}}">解决方案</a></li>
                <li><a href="/核心价值" class="{{.data.currentValue}}">核心价值</a></li>
                <li><a href="/关于中集" class="{{.data.currentAbout}}">关于中集</a></li>
            </ul>
        </div>
        <div class="lzy-register">
            <ul>
                <li><a href="#">Englishi</a></li>
                <li><a href="{{.data.url}}" class="sign">{{.data.username}}</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
        </div>
    </div>
</header>

<script src="../static/third-party/jquery/jquery.min.js"></script>
<script>

</script>